@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
  outline: none;
}
:root {
  /* フォント */
  font-family: 'Noto Sans', sans-serif;
  /* ヘッダーの高さ */
  --HeaderHeight: 80px; /* Map.vueのJSからも参照されているので注意 */
}

/* 配色 */
:root {
  /* テーマ */
  --MainColor: #bee0ff;
  --SubColor: #82c3ff;
  /* 背景 */
  --MainBaseColor: #f3f9ff;
  --SubBaseColor: #ddefff;
  /* テキスト */
  --MainBodyColor: #3d3d3d;
  --AccentBodyColor: #9400ff;
  --URLBodyColor: #935cb8;
}
/* ダークモード */
@media (prefers-color-scheme: dark) {
  :root {
    /* テーマ */
    --MainColor: #003365;
    --SubColor: #0057ad;
    /* 背景 */
    --MainBaseColor: #333333;
    --SubBaseColor: #202020;
    /* テキスト */
    --MainBodyColor: #f3f3f3;
    --AccentBodyColor: #9400ff;
    --URLBodyColor: #935cb8;
  }
}

/* 共通 */
html,
body,
#app {
  height: 100%;
  width: 100%;
}
a {
  color: var(--URLBodyColor);
  text-decoration: none;
}
.background {
  box-sizing: border-box;
  background-color: var(--MainBaseColor);
  width: 100%;
  height: calc(100% - var(--HeaderHeight));
  padding: 15px;
}
/* テキスト共通 */
.text {
  overflow: scroll;
}
.textTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--MainBodyColor);
  margin-bottom: 1rem;
}
.textH {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--MainBodyColor);
  margin-top: 1rem;
}
.textP {
  font-size: 1rem;
  color: var(--MainBodyColor);
}
