@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* 配色 */
:root {
  /* テーマ */
  --MainColor: #bee0ff;
  --SubColor: #82c3ff;
  /* 背景 */
  --MainBaseColor: #f3f9ff;
  --SubBaseColor: #d4ebff;
  /* テキスト */
  --MainBodyColor: #3d3d3d;
  --SubBodyColor: #111111;
  --AccentBodyColor: #9400ff;
  --URLBodyColor: #8d4ab9;
  /* マップ */
  --MapBaseColor: #f3f3f3;
  --MapEnclosureColor: #cfcfcf;
  --MapNoneColor: #adadad;
  --MapObjectColor: var(--SubBaseColor);
  --MapObjectSelectColor: var(--SubColor);
  --MapBorderColor: var(--MainBodyColor);
}

/* ダークモード */
@media (prefers-color-scheme: dark) {
  :root {
    /* テーマ */
    --MainColor: #003365;
    --SubColor: #0057ad;
    /* 背景 */
    --MainBaseColor: #333333;
    --SubBaseColor: #030c2c;
    /* テキスト */
    --MainBodyColor: #f3f3f3;
    --SubBodyColor: #fafafa;
    --AccentBodyColor: #9400ff;
    --URLBodyColor: #8d4ab9;
    /* マップ */
    /* マップ */
    --MapBaseColor: #1d1d1d;
    --MapEnclosureColor: #3f3f3f;
    --MapNoneColor: #797979;
    --MapObjectColor: var(--SubBaseColor);
    --MapObjectSelectColor: var(--SubColor);
    --MapBorderColor: var(--MainBodyColor);
  }
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
  outline: none;
}
:root {
  /* フォント */
  font-family: 'Noto Sans JP', serif;
  /* ヘッダーの高さ */
  --HeaderHeight: 80px; /* Map.vueのJSからも参照されているので注意 */
}

:root {
  background-color: var(--MainBaseColor);
}

/* 共通 */
html,
body,
#app {
  height: 100%;
  width: 100%;
}
a {
  color: var(--URLBodyColor);
  text-decoration: none;
}
.background {
  box-sizing: border-box;
  background-color: var(--MainBaseColor);
  width: 100%;
  height: calc(100% - var(--HeaderHeight));
  padding: 15px;
}

.background.widthLimit {
  max-width: 800px;
  margin: 0 auto;
}
/* テキスト共通 */
.text {
  overflow: scroll;
}
.textTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--MainBodyColor);
  margin-bottom: 1rem;
}
.textH {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--MainBodyColor);
  margin-top: 1rem;
}
.textP {
  font-size: 1rem;
  color: var(--MainBodyColor);
}
